body{
    background-color: #333;
    font-family:Arial, Helvetica, sans-serif;
    
}

h1{
    text-align:center;
    color:rgb(79, 72, 74);
}



.nepali-flag img, .indian-flag img, .chinese-flag img {
    width:250px;
    height:250px;
    object-fit:contain;
}

.nep-flag img{
    height:800px;
}


